    
    <% if (!loggedIn) {%>  
        <br>
        <div class="jumbotron text-center">
            <h1>Welcome to the Cocktail Journal App!</h1>
            <img src="<%=drinkImageURL%>" class ="rounded-circle w-25 h-25"><br>
            <p></p>
        </div>
        <p class="lead p-3 m-3 border border-primary bg-light">
            This app helps you keep journal entries of the cocktails you try! Please log in or sign up to unlock our features!
        </p>
     <%} else {%>
        <div class="jumbotron text-center">
            <h1>Welcome back, <%=username%>!</h1>
            <img src="<%=drinkImageURL%>" class ="rounded-circle w-25 h-25"><br>
            <p></p>
        </div>
        <p class="lead p-3 m-3 border border-primary bg-light">
            Please navigate to the Add/Update Entry or Search Journal pages to use your journal!
        </p>
    <%}%>





